.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  width: 100%;
  background-color: $secondary-background-color;
  text-align: center;
  color: $primary-font-color;
}

.heart-icon {
  width: 20px;
  padding: 0 3px;
}